# -----------------------------------------------------------------------------
# Ignore property and configuration files in main resource directory!
# -----------------------------------------------------------------------------
src/main/resources/configuration-service.properties
src/main/resources/log4j.xml
src/main/resources/*.json
src/main/resources/*.xml
target/
out/