<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<node>
    <modified>2016-01-02T12:34:50Z</modified>
    <match>settings</match>
    <parameters>
        <parameter>
            <key>demo</key>
            <value>false</value>
        </parameter>
        <parameter>
            <key>sound</key>
            <value>off</value>
        </parameter>
    </parameters>
</node>
